:root {
    --sky-blue: #2196F3;
    --black: #212121;
    --light-black: #2F303A;
    --grey: #757575;
    --white: #FFFFFF;
    --icon: #AFB1B8;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box
}



body {
    font-family: var(--primary-font);
    color: var(--grey);
}

/* Header section */
.header:hover .header__navigation a:hover {
    color: #2196F3;
}
.header{
    border: 1px solid rgba(236, 236, 236, 1)
}
.header .containter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header__logo__web {

    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 31px;
    line-height: 24px;
    color: var(--sky-blue);


}

a {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    color: var(--black);
}

a {
    text-decoration: none;
}

a:hover {
    color: #2196F3;
}

.header__navigation ul {
    display: flex;
    gap: 50px;
}

.header__navigation a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #212121;

}

.header__navigation b {
    color: #2196F3;
}

.header__icon {
    width: 16px;
    height: 12px;
}

button {

    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    padding: 6px 22px;
    margin: 0 8px;


}

.selection {
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;

}

button.service {

    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: var(--white);
    padding: 10px 0;
    padding-left: 20px;
    padding-right: 19px;
    border: 0;
    border-radius: 5px;
}

button.service:hover {
    color: rgb(0, 0, 0);
}

button:hover {
    background-color: #2196F3
}

button:focus {
    background-color: grey;
}

.header__navigation ul {
    list-style: none;
}

.header__navigation a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

}

.header__icon {
    margin-right: 10px;
    margin-left: 10px;
}

.header__info a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

}

.header__info :hover {
    fill: var(--sky-blue);
}

.style__title {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    margin-bottom: 30px;
}

.first-section {
    text-align: center;
    background-color: var(--light-black);
    background-image: linear-gradient(0deg,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/background-index.jpg);
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;

}

/* Strong section points */

.strong__point {
    padding: 25px 0;
    background-color: #F5F4FA;
    margin-right: 30px;
    margin-top: 94px;
    text-align: center;
}

.strong__icon {
    width: 60px;
    height: 60px;

}

.strong__section {
    display: flex;

}

.strong__section__title {
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 10px;
    padding-right: 30px;
    margin-top: 30px;
}

.strong__section__text {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-right: 30px;
    margin-bottom: 94px;

}

.what-we-do {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 50px;
    color: var(--black);

}

.what-we-do__image {

    justify-content: center;
    display: flex;
    gap: 30px;
    margin-bottom: 94px;
}



/* Conteiner project realizate */

.containter {
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

}



.conteiner__portofolio {
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}
.conteiner__portofolio:hover{
    /* box-shadow: 1px 2px 1px var(--shadow);  */
    /* box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F;  */
    box-shadow: 10px 11px 17px -6px rgba(115, 115, 115, 1);
}
.cards {
    border-radius: 5px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
}
.card__title {
    color: var(--black);
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
}

.card__subtitle {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 20px;
}

/* Conteiner card  team */
.our-team {
    background-color: #F5F4FA;
    padding: 94px 215px;
}

.our-team__title {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 50px;
    color: var(--black);
}

.our-team__staff {
    gap: 30px;
    margin-bottom: 94px;
    margin-right: 30px;
    display: flex;
    justify-content: center;

}



.conteiner__name {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;


}

.conteiner__roll {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

}

.team__social {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 17px;
    list-style: none;
}

.team__social li {
    background-color: #ffffff;
    padding: 11px;
    border-radius: 100px;

}

.team__social li:hover {
    background-color: var(--sky-blue);

}

.icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}

/* Regular customers */

.regular {
    font-family: var(--primary-font);
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    margin-top: 94px;
    color: var(--black);

}

.regular__customers {
    display: flex;
    list-style: none;
    margin-top: 50px;
    gap: 30px;
    justify-content: center;
    padding: 17px 35px;
}

.regular__icon {
    width: 160px;
    height: 75px;
    border: 1px solid rgba(175, 177, 184, 1);
    padding: 11px 11px;
    height: 85px;
    fill: var(--icon);
}


.regular__icon:hover {
    stroke: #2196F3;
    border: 3px solid var(--sky-blue);
}

/* Footer section */

.footer {
    padding: 60px;
    background-color: #2F303A;
    margin-top: 94px;
    display: flex;
}

.footer__logoweb {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 31px;
    line-height: 24px;
    color: var(--sky-blue);
}

address {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.footer-h3 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.footer__icon {
    list-style: none;
    display: flex;
    gap: 10px;
}

.footer__icon li {
    background-color: rgba(255, 255, 255, 0.1);;
    padding: 12px;
    border-radius: 100px;
}

.footer__icon li:hover {
    background-color: var(--sky-blue);
}

.footer__icon__style {
    width: 20px;
    height: 20px;
    display: flex;
    fill:rgba(255, 255, 255, 1);;
}